.resources {
    text-align: center;
    margin-bottom: 20px;
    color: #551234;
      font-weight: bold;
  }
  .logger {
    border: 1px solid #633;
    background-color: #fefefe;
    box-sizing: border-box;
    display: block;
    min-height: 222px;
    overflow-y: auto;
    position: relative;
  
    float: left;
    padding: 5px;
    width: 100%;
    border-radius: 0 0 0 5px;
}
.json {
    font-family: monospace;
    unicode-bidi: embed;
    white-space: pre-wrap;
}
ul {
    margin: 0;
}
.action {
    text-align: center;
}